body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    background-color: black; 
}
#canvas-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    pointer-events: none; 
}
#scrollable-content {
    position: relative; 
    z-index: 1; 
    min-height: 200vh; 
    padding-top: 100px;
    color: white; 
}
.content-block {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 50px auto; 
    padding: 40px;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.3); 
}
.content-block:hover {
    box-shadow: 0 9px 23px 1px #4dc247 !important;
    -moz-box-shadow: 0 9px 23px 1px #4dc247;
    -o-box-shadow: 0 9px 23px 1px #4dc247;
    -webkit-box-shadow: 0 9px 23px 1px #4dc247;
}
